
 html, body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    overflow-x:hidden;
    scroll-behavior: smooth;
 }

 .left-text {
     text-align: left;
 }

 /* Navbar */

 .notice {
    text-align: center;
    color: #2050b5;
 }

 .alert {
    text-align: center;
    color: #b40606;
 }

 .nav-grid {
     max-height: 150px;
     transition: 0.5s;
     display: grid;
     grid-template-columns: auto 1fr;
     /* justify-items: center; */
     align-items: center;
 }

 .nav-grid > * {
     transition: 0.5s;
     font-size: 26px;
     height: 30px;
 }

 .nav-list a {
     text-decoration: none;
     color: gray;
 }

 .logo {
     margin-left: 15px;
     font-size: 44px;
     grid-row: 1;
     grid-column: 1;
     text-decoration: none;
     color: black;
    }

 .nav-list {
    grid-row: 1;
    grid-column: 2 / -1;
    display: grid;
    margin-left: 200px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 80%;
 }

 .quote-btn {
     font-size: 16px;
     padding: 10px 25px;
     border: none;
     background: #2050b5;
     color: white;
 }

 .mobile-menu {
     display: none;
     transition: 0.5s;
     margin-right: 50px;
     justify-self: end;
 }
 
 .mobile-menu:hover {
    transition: 0.5s;
    color: rgb(80, 80, 80);
}

 .admin-links {
     display: grid;
     background: rgb(46, 46, 46);
     color: white;
     text-align: center;
     grid-template-columns: repeat(5, 1fr);
     justify-items: center;
 }
 
 .admin-links > * {
    width: 100%;
    padding: 10px;
    transition: 0.5s;
}

.admin-links > *:hover {
    transition: 0.5s;
    width: 70%;
    background: black;
}

 .admin-links a {
     color: white;
     text-decoration: none;
 }

/* Main Content */

.hero {
     height: 100px;
     font-size: 30px;
     background: #061325;
     color: white;
     text-align: center;
     display: grid;
     align-content: center;
 }

 .main-content {
     width: 50%;
     margin: 100px auto;
     text-align: center;
 }

 .article-title {
     font-size: 40px;
     font-weight: 900;
     width: auto;
     color: #2050b5;
 }

 .break-line {
     width: 80px;
     margin: 10px auto 50px auto;
     border-bottom: 1px solid #2050b5;
 }

 .break-line-full {
     width: 100%;
    margin: 20px auto 20px auto;
    border-bottom: 1px solid #2050b5;
}

 .new-sect {
     color: #021a4e;
     font-weight: 900;
 }

 .main-content p {
     font-size: 20px;
 }

 /* Form */

 .form-grid {
     display: grid;
     grid-gap: 20px;
     text-align: left;
 }

 .field label {
     font-size: 20px;
 }

 remember-me-sct {
     text-align: center;
 }

 .field input, textarea {
     width: 100%;
 }

 .actions > * {
    background: rgb(22, 22, 22);
    height: 50px;
    font-size: 16px;
    color: white;
    border: none;
 }

 /* Search */

 .search {
     margin: 0 auto 20px auto;
     width: 300px;
 }

 .search form input {
     margin-bottom: 20px;
 }

 .search form  {
     padding: 10px;
     width: 100%;
     background: darkgray;
     color: white;
 }

 .search-container {
     background: rgb(226, 226, 226);
     padding: 10px;
     margin: auto;
     width: 80%;
     text-align: left;
     display: grid;
     grid-template-columns: 1fr 1fr;
 }

 .full-grid {
     grid-column: 1 / -1;
 }

.text-left {
    text-align: left;
}

.page-btn {
    transition: 0.5s;
    color: black;
    text-decoration: none;
    background: gray;
    margin-top: -20px;
    padding: 10px;
    border-radius: 15px;
}

.note {
    /* background: darkgray; */
    margin: 10px;
    padding: 20px;
    border: 1px solid;
}

.page-btn:hover {
    transition: 0.5s;
    background: rgb(70, 69, 69);
}

.note-info {
    font-weight: 900;
    font-size: 22px;
    color: #2050b5;
}

 /* Footer */

 footer {
     position: relative;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100px;
     background: black;
     color: white;
     padding: 20px;
 }

 footer p {
     text-align: center;
     font-size: 12px;
 }

@media (max-width: 1014px) {
    .hidden-menu {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }

    .short-grid {
        max-height: 120px;
        transition: max-height 0.15s ease-out;
        overflow: hidden;
    }

    .long-grid {
        max-height: 430px;
        transition: max-height 0.15s ease-in;
    }

    .long-grid .nav-list {
        font-size: 22px;
    }

    .nav-list {
        transition: 0.5s;
        grid-row: 2;
        grid-column: 1 / -1;
        grid-template-columns: 1fr;
        margin: auto;
        padding: 10px;
    }

    .nav-grid > * {
        height: auto;
    }

    .mobile-menu {
        display: block;
    }

    .active-menu {
        color: red;
    }
}

@media (max-width: 700px) {
    .main-content {
        width: 90%;
    }

    .logo {
        font-size: 30px;
    }

    .admin-links {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .search-container {
        grid-template-columns: 1fr;
        margin-left: 0;
        width: 100%;
    }
}